
*{
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
}
.body{
  margin: 0;
  padding: 0;
  background-color: rgb(238, 77, 238);
}
a{
  color: rgb(248, 182, 0);
}
a:hover{
  list-style: none;
  color: white;
  text-decoration: none;
}

.header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: rgb(255, 0, 0);
  background-color: rgb(0, 0, 0);
}

.jumbo{

  color: rgb(255, 255, 255);
    background-repeat: no-repeat; background-size: 100% 100%; 
    clip-path: polygon(100% 0%,100% 75%,50% 100%,0 75%,0 0);
}
.jumbo::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.6;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    font-weight: bold !important;
}

@media (max-width:750px){
  .header{
      grid-template-columns: auto ; 
  }
  .headeritem1{
      display: none;
  }
}

  .jumbo{

color: rgb(255, 255, 255);
  background-repeat: no-repeat; background-size: 100% 100%; 
  clip-path: polygon(100% 0%,100% 75%,50% 100%,0 75%,0 0);
}
.jumbo::before{
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  opacity: 0.6;
  z-index: -1;
  background-color: rgb(0, 0, 0);
  font-weight: bold !important;
}

.lighting ul{
  display: flex;
  justify-content: center;
  background-color: black;

}


.lighting ul li{
  list-style: none;
  text-transform: uppercase;

  animation: light 1.3s linear infinite;
}
.lighting ul li:first-child{
  padding-left: 0%;
}
@keyframes light{
  0%{
      color: rgb(255, 255, 255);
      text-shadow: none;
  }
  50%{
     color:rgb(255, 255, 255);
  }
  100%{
      color:rgb(212, 250, 0);
      text-shadow: 0 0 1rem gold, 0 0 7rem rgb(238, 255, 0);
  }

}

.lighting ul li:nth-child(1){
  animation-delay: 0s;
}

.lighting ul li:nth-child(2){

  animation-delay: 0.1s;
}


.lighting ul li:nth-child(3){
  animation-delay: 0.2s;
}

.lighting ul li:nth-child(4){
  animation-delay: 0.3s;
}

.lighting ul li:nth-child(5){
  animation-delay: 0.4s;
}

.lighting ul li:nth-child(6){
  animation-delay: 0.5s;
}

.lighting ul li:nth-child(7){
  animation-delay: 0.6s;
}


/**************Course Start**************/
.serviceicon{
  padding: 0x;
  font-size: 70px;
  border-color: rgb(125, 125, 141);
  border-radius: 10%;
  width: 100%;
 
  background-color: rgb(47, 140, 226)
}
.course{
    padding: 5px;
    
    box-sizing: border-box;
}
.course:hover{
 color: rgb(251, 0, 0);
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/**************Course End**************/

/* facts */




/* contact Form************************************************** */

.contactForm{
  width: 50%;
  margin: auto;
  padding: 5px;
}

@media(max-width:720px){

.contactForm{
  width: auto;
}


}


/* contact Form************************************************** */

